
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Admin users only!</h2>
<<<<<<< HEAD
<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div> 
=======
>>>>>>> cdc5256a9bbdb23d8f5ea7193967ec209c89d6e7

